@font-face {
  font-family: 'Brown Light';
  font-display: auto;
  src: url('https://db.onlinewebfonts.com/t/2a519bb6f5e4ea9e564f95816353a1c8.eot'); /* IE9*/
  src: url('https://db.onlinewebfonts.com/t/2a519bb6f5e4ea9e564f95816353a1c8.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://db.onlinewebfonts.com/t/2a519bb6f5e4ea9e564f95816353a1c8.woff2') format('woff2'),
    /* chrome firefox */ url('https://db.onlinewebfonts.com/t/2a519bb6f5e4ea9e564f95816353a1c8.woff') format('woff'),
    /* chrome firefox */ url('https://db.onlinewebfonts.com/t/2a519bb6f5e4ea9e564f95816353a1c8.ttf') format('truetype'),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url('https://db.onlinewebfonts.com/t/2a519bb6f5e4ea9e564f95816353a1c8.svg#Brown Light') format('svg'); /* iOS 4.1- */
}

